<!doctype html>
<html>
  <head>
    <title>mancelin - admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Maxime Ancelin">

    <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
    {% block css %}{% endblock %}
  </head>
  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">ADMIN [logout]</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/ADMIN">Projets</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
   {% block body %}{% endblock %}
    </div>
  </body>
</html>
