{% extends "/admin/base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/vendor/datepicker/css/datepicker.css">
<link rel="stylesheet" href="/static/vendor/select2-3.4.5/select2.css">
<link rel="stylesheet" href="/static/vendor/select2-3.4.5/select2-bootstrap.css">
{% endblock %}

{% block body %}
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="name" class="col-sm-1 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name">
    </div>

    <label for="project-date" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="project-date" data-date-format="dd/mm/yyyy">
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-1 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" rows="2"></textarea>
    </div>
  </div>

  <!--  Use WYSIGYG HTML5-->
  <div class="form-group">
    <label for="readme" class="col-sm-1 control-label">Readme</label>
    <label for="description" class="col-sm-1 control-label">Readme</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="readme" rows="2">Use WYSIGYG HTML5</textarea>
    </div>
  </div>

  <!--  FORM CSS -->
  <div class="form-group">
    <label for="tags" class="col-sm-1 control-label">Tags</label>
    <div class="col-sm-8">
      <select id="tags" class="form-control" multiple>
        {% for tag in tags %}
        <option value={{tag}}>{{tag}}</option>
        {% endfor %}
      </select>
    </div>
  </div>


  <div class="form-group">
    <label for="source-url" class="col-sm-1 control-label">Source URL</label>
    <div class="col-sm-6">
      <input type="url" class="form-control" id="source-url">
    </div>
  </div>

  <div class="form-group">
    <label for="run-url" class="col-sm-1 control-label">Run URL</label>
    <div class="col-sm-6">
      <input type="url" class="form-control" id="run-url">
    </div>
  </div>

  <div class="col-sm-offset-8">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-primary">Save and new</button>
    <button type="submit" class="btn btn-danger">Remove</button>
  </div>
</form>
<script src="/static/vendor/jquery/jquery-1.10.2.min.js"></script>
<script src="/static/vendor/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/vendor/select2-3.4.5/select2.js"></script>
<script src="/static/edit.js"></script>
<script>
$(function() {
  initEditProject();
});
</script>
{% endblock %}
