{% extends "/admin/base.html" %}
{% block body %}
      <div>
          <a class="btn btn-primary" href="/ADMIN/create">Create</a>
          <button type="button" class="btn btn-danger">Remove selected projects</button>
          <br><br>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th><input type="checkbox" value="toogle_select_all"><br></th>
            <th>Name</th>
            <th>Date</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><input type="checkbox" value={{ project._id }}></td>
            <td>{{ project.name }}</td>
            <td>{{ project.time }}</td>
            <td>
            <!--  TODO : TAGS          -->
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}
